.img{
  width: 100%;
  height:200px;
}

.card{
    display: inline-block;
    width:33%;
    margin:20px 50px 0px 90px;
    padding:6px;
    border:1px solid #ccc;
    transition: 0.4s;
}

.card:hover{
    box-shadow: 5px 5px 3px #ccc;
    cursor: pointer;
}

.title{
  text-overflow: inherit;
  -webkit-text-size-adjust: auto;
}

.description{
  text-align: start;
  -webkit-text-size-adjust: auto;
}

.more{
  display: flex;
  align-content: flex-end;
}

.date{
  color:red;
  display: block;
  display: flex;
  justify-self: end;
  justify-self: last baseline;
  float: right;
}